.cardContainer{
    /* max-width: 25rem ; */
    max-width: 24rem;
    cursor: pointer;
    transition:  ease 0.6s;

}
.cardContainer > img{
    width: 100% ;
    padding: 10px;
    height: 200px;
}
.cardContainer:hover{
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.9s;
    background-color: #e6adad;
    color: white;
    /* top: -10px; */
    transform: translate(0, -10px);

}