.navbarContainer{
    z-index: 1;
    position: sticky;
    top: 0px;
    
}
.navLinks{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin: auto;
    text-align: center;
    gap: 2rem;
    color: black;
}

.navbar-brand{
    font-weight: 800;
    letter-spacing: 1px;
}